body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main{
    width:60vw;
    margin:auto;
    margin-bottom:10vh;
}

hr{
    border:none;
    height: 1px;
    background-color: #d3dbdf;
    width:100%;
}

td{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.teaser-img{
    width: 256px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0px solid black;
}

section{
    color:#9B9B9B;
}

a:link, a:visited {
    color: #1367a7;
    text-decoration: none;
}

@media only screen and (max-width: 1200px) {
    body{
        width:100vw;
    }
    main{
        width:95vw;
    }    
    .teaser-img{
        width:40vw;
    }
}

@media print{
    body{
        width: 100vw;
    }
    main{
        width:95vw;
    }
    .telegram{
        display: none;
    }
}