:root{
    --fa-primary-color:#FF7600;
    --fa-secondary-color:#FF9400;
    --fa-secondary-opacity:0.8;
    --bg-color:#FFFFFF;
    --bg-color-1:#A8AFB8;
    --bg-color-2:#425066;
    --bg-color-3:#5f6368;
}
html {
  scroll-behavior: smooth;
  -ms-scroll-translation: 2000ms;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: var(--bg-color);
    height: 200vh;
}
nav{
    padding-top:0; 
    top:0;
    position: fixed;
    flex-direction: row;
    display: flex;
    /* justify-content: ; */
    background-color: var(--bg-color);
    width: 100vw;
    height: 3rem;
    /* justify-content: space-between; */
    align-items: center;
    box-shadow: 6px 0px 6px var(--bg-color-2);
}
nav .logo{
    color: var(--bg-color-2);
    font-family: 'Sen', sans-serif;
    text-align: center;
    text-decoration: none;
}
main{
    margin:5rem 25vw 0 25vw;
}

@media only screen and (max-width:600px){ /*mobile*/
    nav .logo{
        font-size: 24px;
        width: 8rem;
    }
    nav .nav-link{
        display: none;
    }
    nav .menu{
        width:2rem;
        margin-left:1rem; 
    }
    nav .logo i{
        font-size: 20px;
    }
    p{
        width:85vw;
    }     
}
@media only screen and (min-width:600px){ /*computer*/
    nav .logo{
        font-size: 28px;
        width:12rem;
    }
    nav .menu{
        display: none;
    }
    nav .logo i{
        font-size: 23px;
    }       
    nav .logo{
        margin-right:75px;
    }
    nav .nav-link{
        padding-top: 1.2rem;
        display: inline-block;
        margin:0;
        font-size: 14px;
        color: var(--bg-color-3);    
        text-decoration: none;
        font-weight: 600;
        width:6rem;
        height: 1.8rem;
        text-align: center;
    }
    nav .nav-link:hover{
        background-color:#f5f6f7;
    }
    p{
        width:38vw;
    }
}