@font-face {font-family: "Consolas"; src: url("//db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.woff2") format("woff2");}
@font-face {
    font-family: "Latin Modern"; 
    src: url("katex/lm-regular.woff");
    font-weight: normal; 
    font-style: normal;
}
@font-face {
    font-family: "Latin Modern"; 
    src: url("katex/lm-bold.woff");
    font-weight: bold; 
    font-style: normal;
}
@font-face {
    font-family: "Latin Modern"; 
    src: url("katex/lm-bold-italic.woff");
    font-weight: bold; 
    font-style: italic;
}
@font-face {
    font-family: "Latin Modern"; 
    src: url("katex/lm-italic.woff");
    font-weight: normal; 
    font-style: italic;
}

.katex{
    font: 1em "Latin Modern" !important; 
}

:root{
    --fa-primary-color:#FF7600;
    --fa-secondary-color:#FF9400;
    
    --one:#FF7600;
    --two:#FF9400;;
    
    --bg-color:#FFFFFF;
    --bg-color-1:#DCE4F2;
    --bg-color-2:#99A0A8;
    --bg-color-3:#6B81A5;
    --fa-secondary-opacity:0.8;

    --page-padding-top:calc( var(--page-width) * 2.54/21);
    --page-padding-bottom:calc( var(--page-width) * 2.54/21);
    --page-padding-right:calc( var(--page-width) * 2.54/21);
    --page-padding-left:calc( var(--page-width) * 2.54/21);
    --page-content-width:calc(var(--page-width) * 15.92/21 - 15px);
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-1);
    overflow-x: hidden;
}
.logo{
    font-family: 'Sen', sans-serif;
    color:#425066;
    font-size: 2.5vh;
    display: inline-block;
    text-decoration:none;
}
.logo i{
    font-size: 2vh;
}
.top input{
    font-family: 'Sen', sans-serif;
    font-size:2.5vh;
    width:30vw;
    border:none;
    outline: none;
    color:#425066;
}
nav{
    background-color: white;
    width:100vw;
    box-shadow: 0 0 5px var(--bg-color-3);
    position: fixed;
    top:0;
}
nav .top, nav .settings{
    padding: 0.6vh calc((100vw - var(--page-width))*5/9) 0.6vh calc((100vw - var(--page-width))*4/9);
}
nav .settings{
    width:var(--page-width);
    border-top: solid var(--bg-color-1) 1px; 
}
nav .settings i{
    font-size:14px;
}
#install{
    float:right;
    border-radius: 2vh;
    text-align: center;
    font-size: 2vh;
    font-family: Roboto;
    padding: 0.1875vh 0.75vh 0.1875vh 0.75vh;
    color:white;
    background: linear-gradient(45deg, var(--two) 45%, var(--one) 65%);
    display: none;

    --fa-primary-color:var(--one);
    --fa-secondary-color:white;
    --fa-secondary-opacity:1;
}
#install, nav button{
    transition: 200ms;
}
#install:hover, nav button:hover{
    transition: 200ms;
    opacity:0.8;
}
/* ======================Main and Page ========================= */
main{
    margin-top:8vh;
    width:100vw;
    overflow-y:scroll;
}
main .page{
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 5px var(--bg-color-3);
    width: var(--page-width);
    min-height: calc( var(--page-width) * 29.7 / 21);
    padding: var(--page-padding-top) 0 var(--page-padding-bottom) 0;
    margin: 20px calc((100vw - var(--page-width))*5/9) 10px calc((100vw - var(--page-width))*4/9);

}

main .page .text{
    padding: 0.2rem 3.85vw 0.2rem 7.7vw;
}

/* ======================= cell anatomy ========================= */
/* 
cell selected
    inner_cell
        input_area
            js
            md
        rendered_html */
.cell{
    margin: 0.2em var(--page-padding-right) 0.2em calc(var(--page-padding-left)/2);
}
.selected{
    font-size: var(--page-font-size);
}
.selected .rendered_html,
.unselected .input_area{
    display: none;
}
.selected .inner_cell{
    border:1px solid black;
    padding-top: 3px;
    padding-bottom:0;

}
.selected .input_area .input_type{
    display: inline-block;
    text-align: center;
    width:calc(var(--page-padding-left)/2);
    font-size: 0.8em;
}
.selected .md, .selected .js{
    border:1px black solid;
    border-radius: 3px;
    display: inline-block;
    outline: none;
    resize: none;
    overflow-y: auto;
    font-family: "Consolas";
    padding: 1px 2px 1px 2px;
    width: var(--page-content-width);
    min-height: 4em;

}
.unselected .inner_cell{
    border:none;
    padding: none;
}
.unselected .rendered_html{
    font-family: 'Latin Modern','Times New Roman', Times, serif;
    font-size: var(--page-font-size);
    cursor: pointer;
    margin-left:calc(var(--page-width) * 2.54/21 * 1/2);
    width: calc(var(--page-width)-var(--page-padding-right)-var(--page-padding-left));
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

@media only screen and (min-width: 21cm){ /*desktop*/
    :root{    
        --page-width:60vw;
        --page-font-size:16px;
    }    
}
@media only screen and (max-width: 21cm){ /*mobile*/
    :root{    
        --page-width:96vw;
        --page-font-size:6px;
    }    
}
@media all and (display-mode: standalone) {
  #install{
      display:none !important;
  }
}
@media print{
    nav, ::-webkit-scrollbar{
        display: none;
    }  
    main, main .page{
        margin: 0px;
        border: none;
        box-shadow: none;
        padding: none;
    }
    :root{
        --page-width:21cm;
    }
}