@font-face {font-family: "Consolas"; src: url("//db.onlinewebfonts.com/t/1db29588408eadbd4406aae9238555eb.woff2") format("woff2");}
@font-face {
    font-family: "Latin Modern"; 
    src: url("katex/lm-regular.woff");
    font-weight: normal; 
    font-style: normal;
}
@font-face {
    font-family: "Latin Modern"; 
    src: url("katex/lm-bold.woff");
    font-weight: bold; 
    font-style: normal;
}
@font-face {
    font-family: "Latin Modern"; 
    src: url("katex/lm-bold-italic.woff");
    font-weight: bold; 
    font-style: italic;
}
@font-face {
    font-family: "Latin Modern"; 
    src: url("katex/lm-italic.woff");
    font-weight: normal; 
    font-style: italic;
}

.katex{
    font: 1rem "Latin Modern" !important; 
}

:root{
    --fa-primary-color:#FF7600;
    --fa-secondary-color:#FF9400;
    --bg-color:#FFFFFF;
    --bg-color-1:#DCE4F2;
    --bg-color-2:#99A0A8;
    --bg-color-3:#6B81A5;
    --fa-secondary-opacity:0.8;
    --page-width:23.1cm;
    --page-font-size:16;
}
.logo{
    font-family: 'Sen', sans-serif;
    color:#425066;
    font-size: 3.5vh;
}
.logo i{
    font-size: 3vh;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-1);
    overflow-x: hidden;
}
nav{
    background-color: white;
    width:100vw;
    height: 10vh;
    box-shadow: 0 0 5px var(--bg-color-3);
    position: fixed;
    top:0;
}
nav .top, nav .settings{
    padding: 0.6vh calc((100vw - var(--page-width))*5/9) 0.6vw calc((100vw - var(--page-width))*4/9);
}
nav .settings{
    width:var(--page-width);
    border-top: solid var(--bg-color-1) 1px; 
}
nav .settings i{
    font-size:1.9vh;
}
main{
    margin-top:10vh;
    width:100vw;
    overflow-y:scroll;
}
main .page{
    background-color: white;
    width: var(--page-width);
    min-height: 100vh;
    overflow: hidden;
    margin: 20px calc((100vw - var(--page-width))*5/9) 10px calc((100vw - var(--page-width))*4/9);
    box-shadow: 0 0 5px var(--bg-color-3);
    padding: 4.95vw 0 4.95vw 0;
}

main .page .text{
    padding: 0.2rem 3.85vw 0.2rem 7.7vw;
}

/* ======================= cell anatomy ========================= */
/* 
cell selected
    inner_cell
        input_area
            js
            md
        rendered_html */
.cell{
    margin: 0.2rem 3.85vw 0.2rem 3.85vw;
}
.selected .rendered_html,
.unselected .input_area{
    display: none;
}
.selected .inner_cell{
    border:1px solid black;
    padding-top: 0.75vh;
    padding-bottom:0.5vh;
}
.selected .input_area .input_type{
    display: inline-block;
    width:3.85vw;
    text-align: center;
    font-size: 10px;
}
.selected .md, .selected .js{
    padding: 0.1vh 0.2vw 0.1vh 0.2vw;
    border:1px black solid;
    border-radius: 3px;
    display: inline-block;
    width: 42vw;
    min-height: 10vh;
    outline: none;
    resize: none;
    overflow-y: auto;
    font-family: "Consolas";
}
.unselected .inner_cell{
    border:none;
    padding: none;
}
.unselected .rendered_html{
    font-family: 'Latin Modern','Times New Roman', Times, serif;
    font-size: var(--page-font-size);
    font-weight: 500;
    cursor: pointer;
    margin-left:3.85vw;
    width:43.45vw;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

@media only screen and (min-width: var(--page-width)){
    
}