@font-face {
	font-family: "ys-sans";
	src: url(/styles/ys-sans.ttf) format("truetype");
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: "ys-sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif !important;
}

.MathJax {
	overflow-x: auto;
}
